<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<link rel="stylesheet" href="/static/index.css">
		<link rel="stylesheet" href="/static/navbar.css">
	</head>
	<body>
		<!--
		<div class="topbar" id="topbar">
			<a href="/download">Add new link/id</a>
			<a href="/tasks">Tasks</a>
			<button class="topbar-button" onclick="update_list()">Refresh</button>
		</div>
		-->
		<ul id="navbar" class="navbar">
			<li><a href="/tasks">Add new link/id</a></li>
			<li><a href="/tasks">Tasks</a></li>
			<li><input type="text" id="doujinsearch" oninput="searchFilter()" placeholder="Search collection..."></li>
			<li><button class="navbar-button" onclick="update_list()">Refresh</button></li>
			<li><button class="navbar-button" onclick="repair()">Repair Thumbnails</button></li>
		</ul>
		<div class="grid-container" id="grid-container" style="margin: 12px;">
			<!--
			{% for (id, json) in db.get_all() %}
			<div class="grid-item">
				<a href="{{ "/%s/" % id }}"><img class="thumbnail" src="{{ db.get_file_path(id, 1) }}"></a>
				<p class="title">{{ json.get('title') }}</p>
			</div>
			{% endfor %}
			-->
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.3"></script>
	<!-- todo: host these instead of using cdn-->
	<script type="text/javascript">
	const URL = '/api';
	var masterlist = [];
	// var masterlist = {};
	function update_list() {
		$.get(URL, function(data, status) {
			var list = [];
			for (const [id, json] of Object.entries(data)) {
				var vdata = Object.assign({}, json);
				vdata['id'] = id;
				list.push(vdata);
			}
			masterlist = list;
			load_thumbnails();
		});
	}
	function load_thumbnails() {
		// Clear tag inside
		$('#grid-container').empty();
		masterlist.forEach(function (item, idx) {
			var id = item['id'];
			var title = item['title'];
			var thumbnail_url = item['thumbnail'];
			var img_tag = $('<img></img>').attr('class', 'thumbnail').attr('src', thumbnail_url);
			var link_tag = $('<a></a>').attr('href', '/' + id + '/').append(img_tag)
			var title_tag = $('<p></p>').attr('class', 'title').text(title);
			var grid_item_tag = $('<div></div>').attr('class', 'grid-item').attr('id', id.toString()).append(link_tag, title_tag);
			$('#grid-container').append(grid_item_tag);
			console.log('added ' + id);
		});
		tagfuse = new Fuse(masterlist, tagOption);
		normfuse = new Fuse(masterlist, normOption);
		searchFilter();
	}

	const normOption = {
		threshold: 0.2,
		keys: [
			'title',
			'id'
		]
	};
	const tagOption = {
		threshold: 0.2,
		keys: ['tags']
	};
	update_list();
	var tagfuse = new Fuse(masterlist, tagOption);
	var normfuse = new Fuse(masterlist, normOption);
	function searchFilter() {
		var searchText = $('#doujinsearch').val();
		if (searchText != "") {
			if (searchText.startsWith('#')) {
				var searchResult = tagfuse.search(searchText.slice(1));
			} else {
				var searchResult = normfuse.search(searchText);
			}
			var match_id = [];
			searchResult.forEach(function (item, idx) {
				var id = item['item']['id'];
				match_id.push(id);
			});
			masterlist.forEach(function (item, idx) {
				var id = item['id'];
				var elem = $('#' + id);
				if (match_id.includes(id)) {
					elem.show();
				} else {
					elem.hide();
				}
			});
		} else {
			//Show all elems
			masterlist.forEach(function (item, idx) {
				$('#' + item['id']).show();
			});
		}
	}
	function repair() {
		$.post('/repair');
	}
	</script>
	</body>
</html>
