{% set total_pagenum = json.get('num_pages') %}
{% set prev_link = '/' ~ id ~ '/' ~ (pnumber - 1) %}
{% set next_link = '/' ~ id ~ '/' ~ (pnumber + 1) %}

<!DOCTYPE html>
<html>
	<head>
		<title>Page {{ pnumber }}</title>
		<link rel="stylesheet" type="text/css" href="/static/portrait.css">
	</head>
	<body>
		<p class="label">Page {{ pnumber }} of {{ total_pagenum }}</p>
		<div id="navbar">
			{% if pnumber > 1 %}<form action="{{ prev_link }}" style="float: left;"><input type="submit" value="Prev" /></form> {% endif %}
			<form action="/" style="float: center;"><input type="submit" value="Home" /></form>
			{% if pnumber < total_pagenum %}<form action="{{ next_link }}" style="float: right;"><input type="submit" value="Next" /></form> {% endif %}
		</div>
		<div class="imagebox">
			{% if pnumber < total_pagenum %}<a href="{{ next_link }}">{% endif %}
				<img src="{{ db.get_file_path(id, pnumber) }}">
			{% if pnumber < total_pagenum %}</a>{% endif %}
		</div>
	</body>
	<script type="text/javascript" src="/static/portrait.js"></script>
	<script>
		// Quick Navigation
		document.body.addEventListener("keydown", function (event) {
			{% if prev_link %}
			if (event.keyCode === 37 || event.keyCode === 52) {
				window.location.href = "{{ prev_link }}";
				console.log("back");
			}
			{% endif %}
			{% if next_link %}
			if (event.keyCode === 39 || event.keyCode === 53) {
				window.location.href = "{{ next_link }}";
				console.log("next");
			}
			{% endif %}
			if (event.keyCode === 54) {
				window.location.href = "/";
			}
		});

		// Cache Images
		preloadImages([
			{% if pnumber > 1 %}
				"{{ db.get_file_path(id, pnumber - 1) }}",
			{% endif %}
			{% if pnumber < total_pagenum%}
				"{{ db.get_file_path(id, pnumber + 1) }}",
			{% endif %}
		], true);
	</script>
</html>
